@page
@model CalculationModel

<h1>Quantité Cocktail : vin mousseux et rosé</h1>
<pre>@Model.ResultatCocktail</pre>
<h1> Quantité Dîner : vin rouge, blanc sec, blanc fruité</h1>
<pre>@Model.ResultatDiner</pre>
<h1> Totaux</h1>
<pre>@Model.ResultatTotal</pre>
